.mainImage {
    width: 100%;
    object-fit: cover;
}

.imageContainer {
    position: relative;
}

.backgroundBlur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 95%,
        #1b1d1f 100%
    );
}
