.gameListCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 13px;
    padding: 0.5em;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(1000px);
}

.gameListCard p:first-of-type {
    font-weight: var(--font-weight-bold);
}

.gameImage {
    width: 48px;
    height: 64px;
    object-fit: cover;
    border-radius:8px;
}

.plusIcon {
    position: absolute;
    right: 1.5em;
    border: 1px solid var(--border);
    padding: 3px;
    border-radius: 50%;
}