.gameDetailsView {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 1.3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    background-color: #1b1d1f;
    position: relative;
}

.pageContainer {
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.loadingText {
    margin-top: 1rem;
}

.detailsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    display: flex;
    gap: 0.5rem;
    background-color: #498b8b;
    border-radius: 2rem;
    padding: 10px 20px;
    font-weight: 500;
}
